.clients {

&__title {
    color: var(--first-color);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
@media screen and (min-width: 1200px) 
{
    margin-bottom: 50px;
}
}
&__list  {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
} 
&__item {
    margin-left: 30px;
    margin-bottom: 30px;
}
// &__list :not(:last-child) {
//    margin-right: 30px;
  
    


&__link{
    display: flex;
    justify-content: center;
    height: 92px;
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
    width: calc(100vw / 2 - 30px);
    max-width: 210px;
@media screen and (min-width: 768px) 
 {
    
    max-width: 226px;
 }   
 
    

}
&__link:hover,
&__link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
}
/*----------Company Logo----- */


&__icon {
    fill: currentColor;
    margin: auto; 
}
&__icon--group1 {
    width: 41px;
    height: 46.7px;

}
&__icon--group2 {
    width: 40px;
    height: 52px;
}

&__icon--group3 {
    width: 43.46px;
    height: 41.18px;
}

&__icon--group4 {
    width: 84.44px;
    height: 40.62px;
}

&__icon--group5 {
    width: 62.54px;
    height: 45.43px;
}

&__icon--group6 {
    width: 93.79px;
    height: 43.93px;
}
}