.features {

&__container {
    @media screen and (min-width: 480px)
{
    max-width: 480px;
}  
}
&__section {
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.714;
    color: var(--second-color);    
}
&__title {
    color: transparent;
    font-size: 0;
}    
&__list {
    //  display: flex;
    margin-bottom: -30px;
}
&__item {
    margin-bottom: 30px;
}
// &__item:not(:last-child) {
//     margin-right: 30px;
// }
 
&__icon-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: var(--backgroung-team-color);
    margin-bottom: 30px;
}
 
&__icon {
    margin: auto;
    width: 70px;
    height: 70px;

}
&__name {
    font-size: 14px;
    font-weight: bold;
    color: var(--first-color);
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}
}