.footer {
    background-color: var(--footer-color);
    box-sizing: border-box;
    color: var(--while-color);
    font-size: 14px;
    line-height: 1.714;
    padding: 60px 0;

    &__container {

    @media screen and (min-width: 768px) {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: baseline;
        }

    @media screen and (min-width: 1200px){
        justify-content: space-between;
    }
    }
}
.logo--footer {
    margin-bottom: 20px;
@media screen and (max-width: 767px) {
    
}
}
.socialmedia--footer {
    margin-bottom: 60px;

@media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-right: 93px;
}
    
}
.socialmedia__title--footer {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
@media screen and (max-width: 1199px) {
    text-align: center;
}
}
.socialmedia__link--footer {
    color: inherit;
    background-color: var(--footer-icon);
    transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}   

.form--footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px) {
        
    flex-direction: row;
    align-items: inherit;
}
}