.hero {

&__section {
    margin: 0 auto;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/background.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    color: var(--first-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
&__content {
   
    color: var(--while-color);
    margin: 0 auto;
@media screen and (min-width: 1200px)
{
    width: 660px;
}
}
&__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px)
    {
        font-size: 44px;
    }
}
}