.logo {
    font-family: var(--logo-font);
    color: var(--accent-color);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;

@media screen and (max-width: 767px) 
{ 
     text-align: center;
}
@media screen and (min-width: 1200px) 
{
    font-size: 26px;
    letter-spacing: 0.03em;
}
}

.logo--header {
    padding-top: 15px;
    padding-bottom: 15px;
    // margin-right: auto;
}
.logo__mod--header {
    color: var(--logo-header-color);
}


.logo__mod--footer {
    color: var(--while-color);
}